* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'vazir';
    src: url(../fonts/vazir-font-v16.1.0/Vazir.eot) format(eot);
    src: url(../fonts/vazir-font-v16.1.0/Vazir.ttf) format(ttf);
    src: url(../fonts/vazir-font-v16.1.0/Vazir.woff) format(woff);
    src: url(../fonts/vazir-font-v16.1.0/Vazir.woff2) format(woff);
}

@font-face {
    font-family: 'yekan';
    src: url(../fonts/yekan/Yekan.eot) format(eot);
    src: url(../fonts/yekan/Yekan.ttf) format(ttf);
    src: url(../fonts/yekan/Yekan.woff) format(woff);
    src: url(../fonts/yekan/Yekan.woff2) format(woff2);
}

body {
    font-size: 16px;
    font-family: 'vazir';
    direction: rtl;
    background-color: #030303c9;
    border-radius: 0 0 20px 20px;
    transition: background-color 0.5s;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --transition: all 0.4s ease-out;
    --pink-logo-color: #ff9191;
    --orange-logo-color: #ffc05b;
    --green-logo-color: #9bd661;

    --dark-back: #000;
    --light-back: #fff;

}

.white-color {
    color: white !important;
    transition: 0.5s !important;
}

.white-back-color {
    background-color: white !important;
    transition: background-color 0.5s !important;
}

.grey-back-color {
    background-color: rgb(222, 222, 222) !important;
}

.black-color {
    color: black !important;
    transition: 0.5s !important;

}

.black-light-back-color {
    background-color: #383838 !important;
    transition: background-color 0.5s !important;
}

.black-back-color {
    background-color: #202022 !important;
}

.container1 {
    width: 80vw;
    height: auto;
    position: relative;
    margin: 0 auto;
}

/* header ___Start___ */
header {
    width: 100%;
    height: 155px;
    background-color: #202022;
    border-radius: 0 0 20px 20px;
    position: sticky;
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.1);
}

/* banner style ___Start___ */
div.banner {
    width: 100%;
}

div.banner img {
    width: 100%;
}

/* banner style ___End___ */

nav .nav-right {
    float: right;
    display: flex;
    align-items: center;
}

nav .nav-right .logo-container {
    width: 4vw;
    height: 4vw;
    background: url(../img/logo/logo-dark-mode.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background .5s !important;
    margin-left: 5px;
}

.logo-dark-mode {
    background-image: url(../img/logo/logo-dark-mode.png);
    transition: 0.1s !important;
}

.logo-light-mode {
    background-image: url(../img/logo/logo22-removebg-preview.png) !important;
    transition: 0.1s !important;
}

nav .nav-right span {
    font-size: 2vw;
    background-image: linear-gradient(180deg, #9dd860 43%, #000 60%, #ff9191 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
    z-index: 1;
}

nav .nav-right .menu {
    width: 30vw;
    margin-right: 20px;
    z-index: 2;
    padding: 10px 0;
    transition: all 1s;
}

nav .nav-right .menu li {
    width: 100px;
    display: inline-block;
    text-align: center;
}

nav .nav-right .menu li:nth-child(4) {
    width: 125px;
}

nav .nav-right .menu li a {
    color: gainsboro;
    position: relative;
    display: block;
    font-size: 1vw;
    transition: all 0.4s ease;
}

nav .nav-right .menu li:hover a {
    color: var(--green-logo-color) !important;
}

nav .nav-right .menu li i {
    color: gainsboro;
    transition: all 0.4s ease;
}

nav .nav-right .menu li:hover i {
    color: var(--pink-logo-color) !important;
}

nav .nav-right .menu li a::before {
    content: "";
    width: 0%;
    height: 3px;
    color: #ff9191;
    background-color: #ff9191;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: var(--transition);
}

nav .nav-right .menu li:hover a::before {
    width: 100%;
    left: auto;
    right: 0;
}

/* header ___End___ */


/* reveal and active for boxs ___Start___ */
.reveal-top {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.active-top {
    transform: translateY(0);
    opacity: 1;
}

.reveal-right {
    /* position: relative; */
    transform: translatex(100%);
    opacity: 0;
    transition: 1s all ease;
}

.active-right {
    transform: translateX(0);
    opacity: 1;
}

.reveal-left {
    position: relative;
    transform: translatex(-100%);
    opacity: 0;
    transition: 1s all ease;
}

.active-left {
    transform: translateX(0);
    opacity: 1;
}

/* reveal and active for boxs ___End___ */


/* search box __Start__ */
.main-box-search {
    width: 50px;
    height: 70px;
    position: relative;
    display: flex;
}

.search-box {
    width: 100%;
    height: 100%;
}

.search-box {
    position: relative;

    .search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 10px;
        width: 50px;
        height: 50px;
        background: var(--pink-logo-color);
        border-radius: 100%;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

        &:hover {
            cursor: pointer;
        }

        &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 17px;
            right: 0;
            bottom: 0;
            left: 15px;
            width: 12px;
            height: 5px;
            background: white;
            transform: rotate(45deg);
            border-radius: 25px;
            transition: all .5s;
        }

        &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -5px;
            right: 5px;
            bottom: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 4px solid white;
            transition: all .5s;
        }
    }

    input {
        font-family: 'yekan';
        font-size: 15px;
        position: absolute;
        margin: auto;
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        border-bottom: 3px solid rgb(255 145 145);
        background: var(--orange-logo-color);
        color: rgb(0, 0, 0);
        padding: 0 80px 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 15px 0 #838383, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            width: 310px;
            opacity: 1;
            right: auto;
            cursor: text;
        }

        &:focus~.search {
            right: -520px;
            background: #151515;
            z-index: 6;

            &::before {
                top: 0;
                left: 0;
                width: 25px;
                position: absolute;

            }

            &::after {
                top: 0;
                left: 5px;
                width: 25px;
                height: 5px;
                border: none;
                background: white;
                border-radius: 25px;
                transform: rotate(-45deg);
            }
        }

        &::placeholder {
            color: white;
            opacity: 0.5;
            font-weight: bolder;
        }
    }
}

/* search box __End__ */

/* hide and show logo when search box is focus __Satrt__ */
.hide-for-search {
    transform: translateX(33%);
    transition: all 1s;
}

.show-for-search {
    transform: translateX(0);
    transition: all 1s;
}

/* hide and show logo when search box is focus __Satrt__ */

header nav .nav-left {
    float: left;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Login Button and Sign up __Start__*/

.buttons {
    width: 8vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.buttonLogin {
    --width: 70px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1163ff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    transition: var(--transition);
    font-family: 'yekan';
}

.button1 {
    background-color: var(--pink-logo-color);
}

.button2 {
    background-color: var(--green-logo-color);
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.text,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text,
.icon {
    transition: top 0.5s;
}

.icon {
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon1 {
    color: var(--pink-logo-color);
}

.icon2 {
    color: var(--green-logo-color);
}

.buttonLogin:hover {
    background: #fff;
}

.buttonLogin:hover .text {
    top: -100%;
}

.buttonLogin:hover .icon {
    top: 0;
}

.active-button {
    width: 100%;
    transition: var(--transition);
    visibility: visible;
    opacity: 1;
    font-size: 1.3vw;
    font-weight: 700;
}

.hide-button {
    width: 0;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

/* Login Button and Sign up __End__*/


/* shopping button ___Start___ */
.button-shop {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgb(255 145 145 / 50%);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.button-shop span {
    width: 25px;
    height: 18px;
    transition-duration: 0.3s;
}

.button-shop span i {
    color: var(--pink-logo-color);
    font-size: 1vw;
}

.button-shop:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--orange-logo-color);
    align-items: center;
}

.button-shop:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button-shop::before {
    position: absolute;
    bottom: -20px;
    content: "سبد خرید شما";
    font-family: 'yekan';
    color: white;
    font-size: 0;
    font-weight: 700;
}

.button-shop:hover::before {
    font-size: 15px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

.button-shop:hover .fa-cart-shopping:before {
    content: "\f07a";
    opacity: 0;
    transition: var(--transition);
}

/* shopping button ___End___ */


/* tooltip for shop button __Start__*/
.container-shop {
    position: relative;
}

.tooltip {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    background: #474747;
    color: var(--green-logo-color);
    padding: 10px;
    border-radius: 4px;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s, background 0.3s;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: auto;
}

.tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #474747 transparent;
    transform: translateX(-50%);
}

.container-shop:hover .tooltip {
    top: 110%;
    opacity: 1;
    visibility: visible;
    background: #474747;
    transform: translate(-50%, 0);
}

.active-shopping-button {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: var(--pink-logo-color);
    align-items: center;
}

/* tooltip for shop button __Start__*/


/* Dark mode box ___Start___ */
/* The switch - the box around the slider */
label.switch-theme-mode {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
label.switch-theme-mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
label.switch-theme-mode .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: .5s;
    border-radius: 30px;
}

label.switch-theme-mode .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: black;
    transition: .5s;
}

label.switch-theme-mode input:checked+.slider {
    background-color: var(--light-back);
}

label.switch-theme-mode input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

.box-shadow-header {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.box-shadow-search-box {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4) !important;
}

/* Dark mode box ___End___ */


/* Loading  __start__ */
/* :root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --trans-dur: 0.3s;
}

.preloader-hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 2s;
}

.preloader-active {
    visibility: visible;
    opacity: 1;
}

.preloader::before,
.preloader::after {
    content: "";
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: #0000006b;
    z-index: 1;

} */
/* 
.preloader:before {
    top: 0;
    transform: translateY(-100%);
}

.preloader:after {
    bottom: 0;
    transform: translateY(100%);
} */
/* 
.preloader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 2s;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.cart {
    display: block;
    margin: 0 auto 1.5em auto;
    width: 8em;
    height: 8em;
    z-index: 3;
}

.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
    animation: cartLines 2s ease-in-out infinite;
}

.cart__lines {
    stroke: var(--green-logo-color);
}

.cart__top {
    animation-name: cartTop;
}

.cart__wheel1 {
    animation-name: cartWheel1;
    transform: rotate(-0.25turn);
    transform-origin: 43px 111px;
}

.cart__wheel2 {
    animation-name: cartWheel2;
    transform: rotate(0.25turn);
    transform-origin: 102px 111px;
}

.cart__wheel-stroke {
    animation-name: cartWheelStroke
}

.cart__track {
    stroke: hsla(var(--hue), 10%, 10%, 0.1);
    transition: stroke var(--trans-dur);
} */

/* Dark theme */
/* @media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }

    .cart__track {
        stroke: hsla(var(--hue), 10%, 90%, 0.1);
    }
} */

/* Animations */
/* @keyframes cartLines {

    from,
    to {
        opacity: 0;
    }

    8%,
    92% {
        opacity: 1;
    }
}

@keyframes cartTop {
    from {
        stroke-dashoffset: -338;
    }

    50% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 338;
    }
}

@keyframes cartWheel1 {
    from {
        transform: rotate(-0.25turn);
    }

    to {
        transform: rotate(2.75turn);
    }
}

@keyframes cartWheel2 {
    from {
        transform: rotate(0.25turn);
    }

    to {
        transform: rotate(3.25turn);
    }
}

@keyframes cartWheelStroke {

    from,
    to {
        stroke-dashoffset: 81.68;
    }

    50% {
        stroke-dashoffset: 40.84;
    }
}

/* Loading  __End__ */